<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Biblioteca de frases motivacionais para enriquecer seu dia!☺
      </h1>
      <a href="/quotes/add" class="button is-brown">Adicione Novas Frases <i class="fas fa-arrow-right"></i></a>
    </div>
  </div>
</section>
