<section class="hero is-primary is-bold has-text-centered">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Biblioteca de frases motivacionais para enriquecer seu dia!☺
      </h1>
      <a href="/quotes/add" class="button is-white">Adicione Novas Frases</a>
    </div>
  </div>
</section>