<% if (locals.success_msg) { %>
<article class="message is-success">
  <div class="message-body">
    <%= success_msg %>
  </div>
</article>
<% } %>

<% if (locals.error_msg) { %>
<article class="message is-danger">
  <div class="message-body">
  <%= error_msg %>
  </div>
</article>
<% } %>