
  <% include ../partials/_hero %>

<section class="section">
  <div class="columns is-multiline">
    <div class="column column is-one-quarter-desktop is-half-tablet">
      <figure class="image">
        <img src="https://i.ibb.co/TYMzSNP/img1.png" alt="Martin Luther King" title="Martin Luther King" />
      </figure>
      </div>
      <div class="column column is-one-quarter-desktop is-half-tablet">
        <figure class="image">
          <img src="https://i.ibb.co/WFwZdrB/img2.png" alt="Platão" title="Platão">
        </figure>
      </div>
      <div class="column column is-one-quarter-desktop is-half-tablet">
        <figure class="image">
          <img src="https://i.ibb.co/FYsmXRh/img3.png" alt="Ayn Rand" title="Ayn Rand" />
        </figure>
      </div>
      <div class="column column is-one-quarter-desktop is-half-tablet">
        <figure class="image">
          <img src="https://i.ibb.co/Btq5880/img4.png" alt="Thomas Sowell" title="Thomas Sowell" />
        </figure>
      </div>
    </div>
  </div>

</section>
