<figure class="login-icon">
  <img src="https://banner2.cleanpng.com/20180410/ztw/kisspng-business-computer-icons-innovation-management-serv-registration-5acca38e8eebb3.6694764715233606545854.jpg" alt="login icon">
</figure>
<h1 class="title"> Faça o Registro </h1>

<form action="/users/register" method="POST">
  <div class="field">
    <label class="label">Name</label>
    <div class="control">
      <input class="input" type="text" placeholder="Text input" name="name" value="<%= locals.name %>">
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control has-icons-left has-icons-right">
      <input class="input" type="email" placeholder="Email input" name="email" value="<%= locals.email %>">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-exclamation-triangle"></i>
      </span>
    </div>
    <!-- <p class="help is-danger">This email is invalid</p> -->
  </div>

  <div class="field">
    <label class="label">Password</label>
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password" name="password" value="<%= locals.password %>">
      <span class="icon is-small is-left"> <i class="fas fa-lock"></i></span>
    </p>
  </div>

  <div class="field">
    <label class="label">Confirm Password</label>
    <p class="control has-icons-left">
      <input class="input" type="password" placeholder="Password" name="password2">
      <span class="icon is-small is-left"> <i class="fas fa-lock"></i></span>
    </p>
  </div>

  <div class="field is-grouped">
    <div class="control">
      <button class="button is-link">Submit</button>
    </div>
    <div class="control">
      <button class="button is-link is-light">Cancel</button>
    </div>
  </div>
</form>